.container
	.footer
		hr(style='margin: 10px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Bleyer, Isler, Mazlami, Scheuner, Schneider, Stephan
			|  2015

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='https://cdn.socket.io/socket.io-1.3.4.js')
block footer
