extends layout

block content
    div.container
        h1#title #{title}

        form#joinform.form-horizontal(action='')
            fieldset
                // Username
                .control-group
                    label.control-label(for='username') Username
                    .controls
                        input#username.input-xlarge(name='username', type='text', placeholder='Enter username', required='')
                // Room name advanced
                .control-group
                    label.control-label(for='room') Room
                    .controls
                        input#room.input-xlarge(name='room', type='text', placeholder='Enter room', required='', list='rooms', autocomplete='off')
                        datalist#rooms
                // Join Button
                .control-group
                    label.control-label(for='joinbutton')
                    .controls
                        button#joinbutton.btn.btn-primary(type='submit') Join
        .container
            .row
                .col-sm-4
                    img(src='images/logo.png',alt='GroupFindr')
                    h3 Group Info
                    ul#grouplist.list-group
                    ul.list-group
                        li.list-group-item
                            h5 Not Yet Assigned
                            ul#default.group-members

                    h3 Create group
                    input#groupName.input-xlarge(name='groupName', type='text', placeholder='Name')
                    input#groupDescription.input-xlarge(name='groupDescription', type='text', placeholder='Description')
                    button#createGroupButton.btn.btn-primary(type='submit') create group

                    h3 Delete group

                    button#getGroupsButton.btn.btn-primary(type='submit') get groups

                .col-sm-8
                    canvas#mycanvas(width='1000', height='1000', style='width:100%')
                        | Your browser does not support canvas.
                .chat-box
                    input(type="checkbox")
                    label(data-expanded="Close Chatbox" data-collapsed="Open Chatbox")
                    .chat-box-content
                        ul(class="chat",id="chatlist")
                        .input-group
                            input(type="text",class="form-control",id="chatinput", style="font-size:10px;" )
                            span(class="input-group-btn")
                                button(type="button",class="btn btn-primary", id="chatbutton") Enter



        script(src='/scripts/socket.io.min.js')
        script(src='/scripts/canvas.js')
        script(src='/scripts/virtualroom.js')