extends layout

block scripts
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='styleSheet', href='/css/bubbles.css')
    link(rel='styleSheet', href='/css/chat.css')
    link(rel='styleSheet', href='/css/style.css')
    link(rel="stylesheet", href='/css/font-awesome.min.css')
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/jquery-ui.min.js')
    script(src='/scripts/easeljs-0.8.0.min.js')
    script(src='/scripts/socket.io.min.js')
    script(src='/scripts/canvas.js')
    script(src='/scripts/virtualroom.js')

block content
    // FORM
    form#joinform.form-horizontal(action='')
        fieldset
            .control-group
                label.control-label(for='username') Username
                .controls
                    input#username.input-xlarge(name='username', type='text', placeholder='Enter username', required='')
            .control-group
                label.control-label(for='room') Room
                .controls
                    input#room.input-xlarge(name='room', type='text', placeholder='Enter room', required='', list='rooms', autocomplete='off')
                    datalist#rooms
            .control-group
                label.control-label(for='joinbutton')
                .controls
                    button#joinbutton.btn.btn-primary(type='submit') Join

    // CANVAS
    canvas#mycanvas(width='1000', height='1000')
        | Your browser does not support canvas.

    // CHAT
    .chat-box
            input(type="checkbox")
            label(data-expanded="Close Chatbox" data-collapsed="Open Chatbox")
            .chat-box-content
                ul(class="chat",id="chatlist")
                .input-group
                    input(type="text",class="form-control",id="chatinput", style="font-size:10px;" )
                    span(class="input-group-btn")
                        button(type="button",class="btn btn-primary", id="chatbutton") Enter


    // JOIN BUTTON
    a(href='#')
        #createGroupButton.round-button-circle

