extends layout

block content
    div.titlebar
        hr(style='background:#F87431; border:0; height:7px')
        img#logo(src='images/logo.png',alt='GroupFindr')
        hr(style='background:#F87431; border:0; height:7px')
    div.container
        form#joinform.form-horizontal(action='')
            fieldset
                // Username
                .control-group
                    label.control-label(for='username') Username
                    .controls
                        input#username.input-lg(name='username', type='text', placeholder='Enter username', required='')
                // Room name advanced
                .control-group
                    label.control-label(for='room') Room
                    .controls
                        input#room.input-lg(name='room', type='text', placeholder='Enter room', required='', list='rooms', autocomplete='off')
                        datalist#rooms
                // Join Button
                .control-group
                    label.control-label(for='joinbutton')
                    .controls
                        button#joinbutton.btn-lg.btn-primary(type='submit') Join
    div#roombar
        br
        hr(style='background:#F87431; border:0; height:7px')
    div#maincontainer
        .container
            .row
                .col-sm-4
                    img(src='images/logo.png',alt='GroupFindr')
                    div#listinfo
                        h3#roomtitle Group Info
                        button.btn.btn-default#exportButton(type="button") Export groups
                        ul#grouplist.list-group
                        ul.list-group
                            li.list-group-item
                                h5 Not Yet Assigned
                                ul#default.group-members

                .col-sm-8
                    div#canvas-wrap
                        canvas#mycanvas(width='1000', height='1000')
                            | Your browser does not support canvas.
                        div#overlay
                            // CREATE GROUP BUTTON
                            a(href='#', data-toggle='modal', data-target="#createGroupModal")
                                span.fa-stack
                                    i.fa.fa-circle-thin.fa-stack-2x
                                    i.fa.fa-group.fa-stack-1x
                .chat-box
                    input(type="checkbox")
                    label(data-expanded="Close Chatbox" data-collapsed="Open Chatbox")
                    .chat-box-content
                        ul(class="chat",id="chatlist")
                        .input-group
                            input(type="text",class="form-control",id="chatinput", style="font-size:10px;" )
                            span(class="input-group-btn")
                                button(type="button",class="btn btn-primary", id="chatbutton") Enter
            // Modal
            div.modal.fade(id="createGroupModal", role="dialog")
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            button.close(type="button", data-dismiss="modal") &times;
                            h4.modal-title Create Group
                        div.modal-body
                            div.form-group
                                label.control-label(for='groupName') Name
                                input.form-control#groupName.input-xlarge(name='groupName', type='text', placeholder='Name', required='')
                            div.form-group
                                label.control-label(for='groupDescription') Description
                                input.form-control#groupDescription.input-xlarge(name='groupDescription', type='text', placeholder='Description', required='')
                        div.modal-footer
                            button.btn.btn-default#createGroupButton(type="button", data-dismiss="modal") Create!



