#canvas-wrap,
#mycanvas{
    width: 100%;
    max-width: 85vmin;
    max-height: 85vmin;
}

#canvas-wrap {
    display: none;
}

#mycanvas {
    background-color: #ffd700;
    border-radius: 20px;
}
.row {
    display: none;
}

ul.chat {
    width: 290px;
    height: 150px;
    overflow-y:scroll;
    list-style-type: none;
    margin-left: -35px;
}
ul.chat li {
    max-width: 160px;
}

.col-md-3 {
    overflow: hidden;
}

/* START GROUP INFO */
ul.group-members {
    padding-left: 0px;
    display: inline-block;
    font-size:smaller;
    width: 100%;
}
/* glyphicon */
span.glyphicon.glyphicon-info-sign {
    margin-left: 5px;
}
span.glyphicon.glyphicon-remove.deletegroup {
    font-size: 20px;
    color: red;
    right: 10px;
    position: absolute;
    top: 10px;
}



/* Display list in two columns */
ul.group-members li {
    float: left;
    display: inline;
    width: 50%;
    overflow: hidden;
}
ol.group-members li {
    font-size: smaller;
}
hr.group-hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
li.list-group-item p.text-muted {
    font-size: smaller;
}
li.list-group-item h5 {
    color: #0084d1;
}
/* END GROUP INFO */

#canvas-wrap {
    position:relative
}
#overlay     {
    position:absolute;
    bottom: 20px;
    right: 20px;
}

#overlay *:focus {
    outline: none;
}

