#mycanvas {
  display: none;
  background-color: #f0ad4e;
}

.row {
    display: none;
}

ul.chat {
    width: 350px;
    height: 500px;
    overflow:hidden;
    overflow-y:scroll;
    list-style-type: none;
}
